---
layout: default
---
<div class="row justify-content-center">
{% include feature/nav-menu.html sections="About the Collection" %}
</div>

<div class="row offset-md-3">
  <div class="col-md-4">
    <h2>About the Collection</h2>
    <p>In 2019, I lived in Australia and took two big trips: one a road trip along the western coast of Australia and one a country hopping trip through Asia. This collection contains some of my favorite images of the animals, nature, and human-made objects I saw along the way. I am the creator of all these images. </p>
    
    <p>I made this digital library as a final project for LS 575. However, while it serves as my final project, the audience I have in mind for the library is friends and family who have been wanting easy access to objects and information from the trips. </p>
    
    <p>Enjoy, Mika</p>
  
  </div>
  <div class="col-md-4">  
    
   {% include feature/image.html objectid="coll033" width="100" %}

  </div>
</div>

{% if page.credits == true %}{% include cb/credits.html %}{% endif %}
