---
layout: default
---

<div class="container-fluid  p-4 ">
    <div class="container  p-4">
        {% include feature/nav-menu.html sections="About the Collection" %}
    </div>
</div>

<div class="container-fluid mt-1 mb-n3 p-4 ">
    <div class="container mt-1 border rounded p-4">
        <h2>About the Collection</h2>
        <div class="row my-2 justify-content-center">
            <div class="col-md-8 p-4">
               <p>In 2019, I lived in Australia and took two big trips: one a road trip along the western coast of Australia and one a country hopping trip through Asia. This collection contains some of my favorite images of the animals, nature, and human-made objects I saw along the way. I am the creator of all these images. </p>
    
               <p>I made this digital library as a final project for LS 575. However, while it serves as my final project, the audiences I have in mind for the library are friends and family who have been wanting easy access to objects and information from the trips. </p>
    
               <p>Enjoy, Mika</p>
            </div>
            <div class="col-md-4 text-center">
              {% include feature/image.html objectid="coll033" width="100" %}
            </div>
        </div>
    </div>
</div>


{% if page.credits == true %}{% include cb/credits.html %}{% endif %}
